name: Deploy Azure

on:
  workflow_call:

jobs:
  terraform:
    runs-on: ubuntu-latest
    needs: build
    defaults:
      run:
        working-directory: terraform
    env:
      TF_VAR_AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TERRAFORM_API_TOKEN }}

      - name: Init
        run: terraform init

      - name: Apply
        run: terraform apply -auto-approve -input=false